fastapi
jinja2
sqlalchemy
asyncpg
bcrypt
python-multipart
python-jose[cryptography]
google-generativeai
python-dotenv
groq
authlib
itsdangerous
httpx
mangum
razorpay
redis
appwrite==18.0.0
aiosqlite

